ul{
    color: blue;
    list-style: none;

}
h1{
    display: inline-block;
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 20px;
}
body{
    margin: 0px;
}