/*
제한사항 
헤더 탑 부분만 영역을 나눠 
이미지(원하는거 아무거나 width:50px, height:50px) , 햄버거버튼(first.html 을 사용 할 것) 넣기
그외 것들은 최대한 비슷하게 조건 없이 기능 우선적으로 구현하세요 .
*/
.homework{
    max-width: 1200px;
    margin: 0 auto;
}
.header{
    height: 80px;

    
}
.header2{
    
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    
    
}
.img{
    width: 50px;
    height: 50px;
    padding-top: 15px;
    padding-left: 7px;
}
.hamburger-button{
    padding-top: 29px;
    padding-right: 7px;
}
.content{
    width: 100%;
    height: 600px;
    border: 1px solid black;
    margin-top: 10px;
    display: flex;
}
.content1{
    text-align: center;
    height: 100%;
    width: 30%;
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.content2{
    text-align: center;
    height: 100%;
    width: 40%;
    border-right: 1px solid black;
    border-left: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.content3{
    text-align: center;
    height: 100%;
    width: 30%;
    border-left: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.hamburger-menu{
    position: relative;
    height: 40px; 
    line-height: 40px;
}
.changeHamburger{
    /* display: none; */
    position: absolute;
    top: 70px;
    right: 15px;
    background-color: white;
    border: 1px solid gray;
    width: 160px;
    border-radius: 10px;   
    text-align: center;
    }
.signUpBtn:hover{
    background-color: gray;
    color: blue;

}
.loginBtn:hover{
    background-color: gray;
    color: blue;
}
.cscBtn:hover{
    background-color: gray;
    color: blue;
}

/* 로그인 창 */
.loginBody{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    
}
.login{
    padding: 0px 20px;
    max-width: 300px;
    width: 100%;
    border: 1px solid black;
    text-align: center;

}
.loginTitle{
    margin: 0px 0px;
}

.loginInput{
    margin: 0 auto;
    border: 1px solid black;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.loginInput input{
    padding-right: 12px;
    padding: 8px 0px;
    
    
}
.loginInput input::placeholder{
    font-size: 12px;
    text-align: left;
}
.loginList{
    display: flex;
    justify-content: space-around;
    padding-left: 18px;
}
.loginList li{
    font-size: 12px;
}
.loginLoginBtn{
    padding: 8px 100px;
}
/* 회원가입 */
.signUpBody{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    
}
.signUp{
    padding: 0px 20px;
    max-width: 300px;
    width: 100%;
    text-align: center;
}
.signUpInput{
    margin: 0 auto;
    border: 1px solid black;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.signUpInput input{
    padding-right: 12px;
    padding: 8px 0px; 
}
.signUpInput input::placeholder{
    font-size: 12px;
    text-align: left;
}
.signUpSignUpBtn{
    padding: 8px 95px;
}